@charset "UTF-8";


/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Cores */

  --cor1: #E7E7E7;
  --cor2:  White;
  --cor3: #FF4F5A;
  --color-titulo: #1A2E35;
  --color-paragrafo: #000000;


  /* Fontes */

  --fonte1: "Montserrat", sans-serif;

}


  /*  Config Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--cor2);
  height: 100vw;
  width: 100%;
  max-width: 100%;
  font-family: var(--fonte1);
  overflow-x: hidden;
}


    /* Main Geral */
.voitto-geral {
  background-color: var(--cor1);
  width: 100vw;
  

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.logo-voitto {
  margin: auto 10%;
  width: 20vw; 
  max-width: 100%; 
  margin-top: 3rem;
} 


        /* SECTION 1 */

.apresentação1-voitto {
  display: grid;
  grid-template-columns: 50% 50%;

 
  margin:auto;
  padding-top: 2.5rem;
 
}

.textfield1 {
  text-align: justify;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 535px;
  
}

.textfield1 > h1 {
  color: var(--color-titulo);
  font-weight: 800;
  font-size: 38px;
}

.textfield1 > p {
 color: var(--color-paragrafo);
 font-size: 1.5rem;

 padding: 1rem 0 1.25rem 0;
 width: 522px; 
}

.textfield1 .text_alert{ 
  font-weight: bold;
  width: 500px; 

}


.form_inscricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  width: 535px;
  padding: 1rem;
}

.form_inscricao > input {
  background: var(--cor2);
  border: 2px solid var(--cor2);
  border-radius: 10px;
  
  
  padding: 1.4rem 0 1.3rem 1.5rem;
}

.form_inscricao > input::placeholder {
 font-size: 0.9rem;
}

.btn-enviar {
  
  background: var(--cor3);
  color: var(--cor2);
  border: 1px solid var(--cor3);
  border-radius: 10px;

  
  align-items: center;
  font-size: 26px;
  font-weight: 800;

  margin-top: 2rem ;
  padding: 0.9rem;
  width: 396px;
  transition: .3s;
}

.btn-enviar:hover {
  background-color: #ff4f5bd3;
}

.btn-enviar:active {
  background-color: #ff4f5b7e;
}

.imagem_ilustrativa {
  width: 700px;
  transform: translate(0, -10%);
}


    /* SECTION 2 */

.apresentação2-voitto {
  background: var(--cor2);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem 0 6rem 0;
}

.textfield2 {
  text-align: justify;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
  
}

.textfield2 > h2 {
  color: var(--color-titulo);
  font-size: 2.25rem;
  font-weight: 800;
}

.textfield2 > p {
  width: 1226px;
}

.textfield2 .text_alert2 {
  font-weight: 500;
}

.imagens_ilustrativa2  {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

    /* SECTION 3 */


.apresentação3-voitto {
  background-color: var(--cor3);
  color: var(--cor2);
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;

  & .imagem_ilustrativa3 {
  padding: 4.32rem 0 4.7rem 0;
  }
}


.textfield3 {
  display: flex;
  flex-direction: column;
 
  text-align: justify;
  
  gap: 20px;
  width: 641px;
  
  

  & h3 {
    font-size: 2.4rem;
  }

  & p {
    font-size: 1.5rem;
    font-weight: 300;
    
  }

  & .btn-sigma {
    color: white;
    background: var(--color-paragrafo);
    border: 1px solid var(--color-paragrafo);
    border-radius: 10px;
    
    font-size: 1.6rem;
    font-weight: 800;
    padding: 0.9rem;
    width: 413px;

    }

  }


    /* RESPONSIVO TABLETS */

@media (min-width: 780px) and (max-width:1024px) {

  .voitto-geral {
    width: 100vh;
    max-width: 100%;
  }

  .logo-voitto {
    margin: auto 0%;
    margin-top: 1rem;
  } 
  
  .apresentação1-voitto {
   width: 100vh;
   max-width: 100%;
  }

  .textfield1 {
    width: 100vw;
    
  }

  .textfield1 > h1 {
    width: 724px;
   font-size: 2rem;
  }
  
  .textfield1 > p {
   font-size: 1.4rem;
    width: 724px;
  }

  .textfield1 .text_alert {
    transform: translate(-20%);
  }
  

.form_inscricao {
  width: 92%;
}

  
.form_inscricao > input {
  width: 351px;
}
  

.btn-enviar {
  font-size: 1.5rem;
  width: 351px;
  }
  
.imagem_ilustrativa {
 transform: translate(-10%);
  margin: 13.8rem 0 0 2rem;
  margin-top: 12rem;
  width: 40vw;
}

.apresentação2-voitto {
  width: 100vh;
  max-width: 100%;
}


.textfield2 > h2 {
  font-size: 2rem;
}

.textfield2 > p {
  font-size: 1.4rem;
  width: 721px;
}

.imagens_ilustrativa2 > img:nth-of-type(1) {
  display: none;
}

.imagens_ilustrativa2 > img:nth-of-type(2) {
  display: none;
}

.imagens_ilustrativa2 > img:nth-of-type(3) {
  display: none;
}


 .apresentação3-voitto {
  width: 100vh;
  max-width: 100%;
  height: 450px;
  gap: 20px;

  & .imagem_ilustrativa3 {
    width: 235px;
   
  }
}


.textfield3 {
  width: 460px;
  transform: translate(0, 12%); 

   & h3 {
    font-size: 1.5rem;
  }

  & p {
    font-size: 1.25rem;
    
  } 

  & .btn-sigma {
    font-size: 1.5rem;

    margin-bottom: 0.6rem;
    padding: 0.5rem;
    width: 351px;
    }
  } 
}




    /* RESPONSIVO CELULARES */


@media (max-width: 780px) {

 

  .voitto-geral {
   width: 100vh; 
   max-width: 100%;
  }

 
 

  .apresentação1-voitto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   

  .logo-voitto {
    margin-top: 0rem ;
  } 

  .textfield1  {
   transform: translate(-50%);
   width: 274px;

   & h1 {
    font-size: 20px;
   }

   & p {
    font-size:0.9rem;
    width: 274px;
   }
  }


  .textfield1 .text_alert {
    font-size: 1rem;
    width: 274px ;
  }


  .form_inscricao {
    align-items: center;
    
   & .btn-enviar {
    width: 274px ;
    font-size: 1rem;
    transition: .1s;
   }


   & input  {
    width: 274px;
   }

   & input:focus {
    border: 1px solid var(--cor3);
   }

} 

.imagem_ilustrativa {
  width: 274px;
  transform: translate(0, 0);
}


.apresentação2-voitto {
  width: 100vh;
  max-width: 100%;
}


  .textfield2 > h2 {
    text-align: center;
    font-size: 1.5rem;
    width: 300px;
  }
  
  .textfield2 > p {
    font-size: 1rem;
    width: 274px;
  }

  .btn-enviar {
    width: 274px;
    transition: .1s;
  }

  .btn-enviar:active {
    border: none;
    background: var(--color-paragrafo);
  }
  

  .imagens_ilustrativa2 > img:nth-of-type(1) {
    display: none;
  }
  
  .imagens_ilustrativa2 > img:nth-of-type(2) {
    display: none;
  }
  
  .imagens_ilustrativa2 > img:nth-of-type(3) {
    display: none;
  }



.apresentação3-voitto {
  flex-direction: column;
  width: 100vh;
  max-width: 100%;

  & .imagem_ilustrativa3 {
    width: 350px;
    padding: 1.8rem 2.7rem;
    padding-bottom: 0;
  }
}

.textfield3 {
    width: 274px;
    gap: 10px;
    transform: translate(0, -20%);
   
    & h3 {
      font-size:1rem;
    }
  
    & p {
      font-size: 0.9rem;
    }
  
    & .btn-sigma {
      font-size: 1rem;
      width: 274px;
      transition: .1s;
      }

    & .btn-sigma:active {
      border: none;
      background: var(--cor2);
      color: var(--cor3);
    }
  
    }

}